{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}
Login Successfully!<br> <br>
	   {% else %}

	Now You can login here...
<form class="form" id="login_form" method="post" action="{% url 'login' %}">
	{% csrf_token %}
	Username: <input type="text" name="username" value='' size="50"/><br>
	Password: <input type="password" name="password" value= '' size="50" /><br>
	<input type="submit"  value="Submit">
	<br> <br>

	You havn't any account? <a  href="{% url 'signup' %}">Register</a> here
</form>

  {% endif %}





{% endblock %}
